{% extends '../layout/base/layout.twig' %}
{% from '../helpers/basic.twig' import svg, svgFontSize %}

{% block title %}Карта вёрстки{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="/ui-page.html">Основные элементы интерфейса</a>
        </li>
    </ul>
{% endblock %}