{% extends '../layout/base/layout.twig' %}
{% from '../helpers/normalize.twig' import class_normalizer, attrs_normalizer %}

{% block title %}UI-Page{% endblock %}

{% block body %}
    <div class="grid-root">
        <div class="grid-container">

        </div>
    </div>
{% endblock %}